.dark-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.cont{
    position: relative;
    background-color: rgb(48, 48, 48);
    overflow: hidden;
}

.quote-cont{
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: clamp(500px, 1000px, 2000px);
}

.quote-txt{
    color: white;
    font-size: 2.1em;
    user-select: none;
}

.quote-txt-cont{
    margin-bottom: 40px;
}

.quote-img{
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}